body {
  background-image: url(../images/DSC100279002.jpg);
  background-size: cover;
  font-family: Satellite !important;
  font-size: 14pt !important;
  letter-spacing: 0.5px;
}

.jumbotron {
  background: url(../images/13507029_1339176479429127_2305869606237330674_n.jpg);
  font-family: SalesforceSans;
  width: 100%;
  min-height: 320px;
}

.jumbRow {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}
footer {
  margin-top: 100px;
  text-align: center;
}
.card-header {
  font-size: 16pt;
  text-align: center;
}
.card img {
  margin: 5px auto;
}
.card-small {
  height: 300px !important;
  width: 100%;
}

nav img {
  margin: 5px 10px;
}
.navbar-brand {
  font-family: "Quintessential", cursive;
  letter-spacing: 2px;
}
.card-img-overlay {
  padding: 0 !important;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .white-box {
    text-align: center;
  }
  .white-box span {
    display: block;
  }
}

footer {
  font-size: 9pt !important;
  letter-spacing: 2px;
}

#navbarSupportedContent ul {
  display: flex !important;
  justify-content: flex-end;
}
@media screen and (max-width: 768px) {
  .white-box {
    display: flex;
    justify-content: center;
  }
}

.form-group input,
.form-control {
  max-width: 600px;
}

@font-face {
  font-family: Satellite;
  src: url(fonts/Satellite.otf);
}

@font-face {
  font-family: SalesforceSans;
  src: url(fonts/SalesforceSans-Bold.woff);
}
